.login-button {
	text-decoration: none;
	margin-left: 18px;
	background-color: black;
	padding: 8px 10px;
	color: white;
	border-radius: 8px;
}

.login-button:hover {
	background-color: rgb(65, 65, 65);
}
